<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
          class="navbar navbar-expand-lg  blur border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip"
             title="Designed and Coded by Creative Tim" data-placement="bottom">
            Jasmine Dragon
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                  aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
          </button>
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages"
                   data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                  Sections
                  <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg" class="arrow ms-auto ms-md-2">
                </a>
                <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3"
                     aria-labelledby="dropdownMenuPages">
                  <div class="d-none d-lg-block">
                    <a href="{% url 'catalog:index' %}" class="dropdown-item border-radius-md">
                      <span>Home</span>
                    </a>
                    <a href="{% url 'catalog:tea-list' %}" class="dropdown-item border-radius-md">
                      <span>Teas</span>
                    </a>
                    <a href="{% url 'catalog:supplier-list' %}" class="dropdown-item border-radius-md">
                      <span>Suppliers</span>
                    </a>
                    <a href="{% url 'catalog:province-list' %}" class="dropdown-item border-radius-md">
                      <span>Provinces</span>
                    </a>
                    <a href="{% url 'catalog:tea-category-list' %}" class="dropdown-item border-radius-md">
                      <span>Categories</span>
                    </a>
                  </div>
                  <div class="d-lg-none">
                    <a href="{% url 'catalog:index' %}" class="dropdown-item border-radius-md">
                      <span>Home</span>
                    </a>
                    <a href="{% url 'catalog:tea-list' %}" class="dropdown-item border-radius-md">
                      <span>Teas</span>
                    </a>
                    <a href="{% url 'catalog:supplier-list' %}" class="dropdown-item border-radius-md">
                      <span>Suppliers</span>
                    </a>
                    <a href="{% url 'catalog:province-list' %}" class="dropdown-item border-radius-md">
                      <span>Provinces</span>
                    </a>
                    <a href="{% url 'catalog:tea-category-list' %}" class="dropdown-item border-radius-md">
                      <span>Categories</span>
                    </a>
                  </div>
                </div>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item ms-lg-auto">
                  <form action="/accounts/logout/" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn bg-gradient-secondary w-auto me-2" style="margin: 0">Logout</button>
                  </form>
                </li>
              {% else %}
                <li class="nav-item ms-lg-auto">
                  <a href="{% url 'login' %}" class="btn bg-gradient-secondary w-auto me-2" style="margin: 0">Sing in</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>