{% extends "base.html" %}

{% block content %}
  <h1>
    {{ supplier }}
  </h1>
  <p>
    Website: {{ supplier.website }}
  </p>
  {% if supplier.teas %}
    <h3>
      Supplier’s teas:
      <a href="{% url 'catalog:tea-create' %}" class="btn btn-success link-to-page" >Create new tea</a>
    </h3>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Harvest year</th>
      </tr>
      {% for tea in supplier.teas.all %}
        <tr>
          <th>
            <a href="{{ tea.get_absolute_url }}">{{ tea.name }}</a>
          </th>
          <th>
            {{ tea.price }}
          </th>
          <th>
            {{ tea.category }}
          </th>
          <th>
            {{ tea.harvest_year }}
          </th>
          <th>
            {{ tea.province }}
          </th>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>This supplier has no teas</p>
  {% endif %}
  <a class="btn btn-secondary" href="{% url 'catalog:supplier-update' pk=supplier.id %}">
    Update supplier
  </a>
  <a class="btn btn-danger" href="{% url 'catalog:supplier-delete' pk=supplier.id %}">
    Delete supplier
  </a>

{% endblock %}
